* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.container {
  margin: 20px;
  
}
.container h2 {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  word-wrap: break-word;
  color: rgb(188, 80, 80);
}
.logo {
    color: red;
}
 
.logo:hover {
    color: rgb(143, 2, 2);
    cursor: pointer;
}

.container p {
  font-size: 1.2rem;
  padding: 5px;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
}

.nav_bar h2 {
  padding-left: 10px;
}
.nav_bar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  list-style: none;
}
.nav_bar li {
  padding: 10px;
}
.nav_bar a {
  color: rgb(188, 80, 80);
  text-decoration: none;
}
.nav_bar a:hover {
    color: red;
    cursor: pointer;
}

#categories_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(5, 5, 5);
  margin: 10px 200px;
}
.container_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(14, 12, 12);
  padding: 10px;
  transition: transform 0.3s ease-out;

}
.container_item:hover {
    transform: scale(1.1);
    overflow: hidden;
}

.container_img {
  width: 100px;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container_img img {
  max-width: 100%;
  height: auto;
}

.container_name {
  width: 70%;
  margin: 5px 20px;
}

.container_name h3 {
    padding: 10px;
  }
.container_name_p {
    color: grey;
    justify-content: center;
}

.container_name_h3 {
    font-size: 100px;
    color: rgb(15, 1, 1);
}

.container_span {
    color: rgb(188, 80, 80);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  font-size: 2rem;
  justify-content: center;
}